<section class="content innerpage" ng-controller="SeekerCtrl"  data-ng-init="get_job_feed()">

      <!-- Default box -->
      <div class="card card-solid paddingzero">
	   
        <div class="card-body pb-0 paddingzero">
			<div class="card-header">
			<h3 class="card-title">My Projects</h3>
		  </div>
          <div class="row d-flex align-items-stretch">
            <div class="col-12 col-sm-6 col-md-4 align-items-stretch" >
			
			<div ng-show="joblist.length == 0 && loader == false" class="nojoblist">
				<h3>No Projects</h3>
			</div>
			<div class="info-box bg-green" ng-repeat="x in joblist track by $index" id="rejectjob{{x.Id}}"  class="card bg-light {{x.classname}}"  >
				

				<div class="info-box-content">
				  <span class="info-box-text">{{x.name}}</span>
				  <div class="progress">
					<div class="progress-bar" style="width: 40%"></div>
				  </div>
				  <span class="info-box-number">Started Date: {{x.created_at}}</span>
				 

				  
					<span class="info-box-number">
						{{x.address}}
					</span>
					<div class="card-footer" style="background:transparent">
                  <div class="text-right">
					<a href="javascript:void(0)" ng-click="view_project_item(x.id)"  class="btn btn-sm bg-teal btn-verysmall">
                      <i class="fas fa-save"></i> View Item
                    </a>
                    <a href="javascript:void(0)" ng-click="view_project_task(x.id)"  class="btn btn-sm bg-red btn-verysmall">
                      <i class="fas fa-list"></i> View Task
                    </a>
                  </div>
                </div>
				</div>
				
				<!-- /.info-box-content -->
			 </div>
              
            </div>
			
            
          </div>
        </div>
      
        <!-- /.card-footer -->
      </div>
	
    </section>