<div ng-controller="ProfileCtrl" class="landingpage"  data-ng-init="checklogin()">

	<div class="text-center logocontainer">
		<img ng-src="dist/img/logo.png">
	</div>
	
	<img class="w-100" style="height:250px;" src="dist/img/lightbulb-1875247_640.jpg"  >
	
	<br />
	<div class="banner-content banner-contentsub  col-lg-12 text-center">
		<h3 class="text-black">
			Welcome to <br>Azam Electricals 			
		</h3>	
		<p class="text-black">
Azam Electricals, a leading electrical engineering contractor and consultant with extensive knowledge in all spheres of electrical works.</p>
		<p class="text-white loginbutton">
			<a href="#!/login" class="btn btn-primary">Login</a>
			
		</p>

	</div>
	<br />
	
</div>