<div ng-controller="SeekerCtrl" class="innerpages" data-ng-init="get_user_list_message();">
	<div>
		<div class="card card-primary card-outline">
		
		  <div class="card-header">
			<h3 class="card-title">Messages</h3>
		  </div>
		  <!-- /.card-header -->
		  <div class="">
			
				<div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <tr ng-repeat="x in userlist" ng-click="starchat(x)">
                    
                    <td class="mailbox-star"><a href="javascript:void(0)"><img ng-src="{{x.image}}"></td>
                    <td class="mailbox-name"><a href="javascript:void(0)">{{x.Name}}</a></td>
                    
                    
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>							  
										
											
		   
		   
		  </div>
		  <!-- /.card-body -->
		 
		  
		  <!-- /.card-footer -->
		</div>
		<!-- /.card -->
	 </div>
</div>
