<div ng-controller="ProfileCtrl" class="forgotpassword ">

	<div class="text-center logocontainer">
		<img ng-src="dist/img/logo.png">
	</div>
	  <!-- /.login-logo -->
  <div class="card">
  <div class="alert-error" ng-show="loginerror.length > 3">{{loginerror}}</div>
  <div class="alert-message" ng-show="loginerror.length > 3">{{successmessage}}</div>
  <p>&nbsp;</p>
  <p class="text-center">You must contact your administrator to reset your password?</p>
    <!--<div class="card-body login-card-body" ng-show="showotpnewpassword == false">
      <form action="javascript:void(0)" ng-submit="forgotpassword()" method="post">
        <div class="input-group mb-3">
		  <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <input type="email" class="form-control" ng-model="loginvar.username" placeholder="Email" required>
          
        </div>
        
        <div class="row">
          
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </form>
 
      
    </div>-->
	<!--<div class="card-body login-card-body" ng-show="showotpnewpassword == true">
      <form action="javascript:void(0)" ng-submit="changepassword()" method="post">
        <div class="input-group mb-3">
		  <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <input type="password" class="form-control" ng-model="loginvar.newpassword" placeholder="New Password" required>
		  </div>
		  <div class="input-group mb-3">
		  <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
          <input type="text" class="form-control" ng-model="loginvar.optpassword" placeholder="OTP" required>
          
        </div>
        
        <div class="row">
          
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </form>

      
    </div>-->
      <!-- /.social-auth-links -->

      
      <p class="mb-0 text-center">
        <a href="#!/login" class="text-center">Already have account? Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>

	
</div>