<section ng-controller="ProfileCtrl"  class="loginpage ">
	<div class="text-center logocontainer">
		<img ng-src="dist/img/gigin-dark.svg">
	</div>
	<div class="container">
		<div class="row heading heading-icon">
			<h2>Select Your Gender</h2>
		</div>
		<ul class="genderselection">
			  <li ng-click="select_gender(0)" ng-class="{'selected':gender==0 }">
				  <div class="cnt-block equal-hight" style="height: 349px;">
					<figure><img src="dist/icon/Work_M.png" class="img-responsive" alt=""></figure>
					<h3><a href="javascript:void(0)">Male</a></h3>
					
					
				  </div>
			  </li>
			  <li  ng-click="select_gender(1)" ng-class="{'selected':gender==1 }">
				  <div class="cnt-block equal-hight" style="height: 349px;">
					<figure><img src="dist/icon/Hire_F.png" class="img-responsive" alt=""></figure>
					<h3><a href="javascript:void(0)">Female</a></h3>
					
				   
				  </div>
			  </li>
			  
			</ul>
			<p ng-show="gender === 0 || gender === 1" class="nextbutton text-center">
			<a href="javascript:void(0)" ng-click="checklogin();" class="btn btn-primary">NEXT</a>
			</p>
	</div>
</section>